* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
  }
  
  .table {
    width: 100%;
  }
  
  tr th {
    background-color: brown;
    color: white;
    padding: 20px;
  }
  
  tr td {
    padding: 25px;
  }
  
  tr:nth-child(even) {
    background: lightgrey;
  }
  tr:nth-child(odd) {
    background: wheat;
  }